<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Completed your account link.</title>
</head>

<body>
<center>
    <a href="{{.}}"><h1>點擊此連結完成帳戶連動</h1></a>   <br> 
</center>
</body>
</html>